/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: serif;
 }
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header{
	height: 80px;
}
.content-container{
	background: url("cam.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: #f5f5f5;
}
.header p{
	font-size: 60px;
	text-align: center;
	color: #f5f5f5;
	margin-top: 60px;
	background-color: orange;
}
.formArea{
  display: inline-block;
  margin-left: 30px;
}
.formArea p{
	text-align: center;

}
.foodInput {	
	
	margin-left: 450px;
	margin-right:450px;
	margin-top: 50px;
	width: 350px;
	height: 35px;
	border-radius: 5px;
	font-size: 20px;
}
.resultShow{
	width: 1309px;
	display: inline-block;
	margin-top: 200px;
}
.resultShow p{
	text-align: center;
	font-size: 20px;
	margin-top: 25px;
}

/* Formatting for Search Result Display*/
ul.image-list1, ul.image-list2, ul.image-list3{
	list-style-type: none;
	
	margin: 0;
	padding: 0;
	
}
.resultShow li{

	width: 90px;
	height: 60px;
	display: inline-block;
	position: relative;
	margin: 0 1em 1em 0;
}

.resultShow li:hover span.text-content {
	opacity: 1;
}

.image-list1 img, .image-list2 img, .image-list3 img{
	width: 90px;
	height: 60px;
}

.resultShow ul {
	margin-left: 160px;
}

.resultShow .image-list1 {
	margin-top: 80px;
}
span.text-content{
	display: table;
	color: white;
	cursor: pointer;
	opacity: 0;
	width: 90px;
	height: 60px;
	left: 0;
	top: 0;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	position: absolute;
	background:rgba(0,0,0,0.5);
}

span.text-content span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.menuShow img{
  height: 280px;
  width: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menuShow h1{
  font-size: 25px;
  font-weight: bold;
  text-align: center; 
}
.menuShow li{
  text-decoration: none;
  
  text-align: center;
}


